.bricks td {
    width: 14px;
    padding-right: 0;
    padding-left: 0;
}

.result {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 2px;
    width: 14px;
    height:18px;
    background-color: #9E9E9E;
}

a.result:hover {
    box-shadow: 0 0 2px black;
}

.result.win {
    background-color: #206925;
}

.all-in {
    border: solid 1px #717171;
}

.all-in.win {
    border: solid 1px black;
}

.series-final {
    border: solid 1px #FF8101;
}

.year-final {
    border: solid 1px #09A6DA;
}

table.bricks {
    margin-right: 8px;
}