body {
    margin: 20px;
}


iframe {
    border: none;
}


h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.7em;
    margin: 0.8em 0 0.5em 0;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4em;
    margin: 0.7em 0 0.35em 0;
    display: inline-block;
}

label {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
}

.instagram-logo {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

.tableauPlaceholder {
    max-width: 1000px;
    margin-top: 4px;
}
