.bricks .right td {
    width: 14px;
    padding-right: 0;
    padding-left: 0;
}

.bricks .result {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 2px;
    width: 14px;
    height:18px;
    background-color: #9E9E9E;
}

.bricks a.result:hover {
    box-shadow: 0 0 2px black;
}

.bricks .result.win {
    background-color: #206925;
}

.bricks .all-in {
    border-right: solid 2px #717171;
}

.bricks .all-in.win {
    border-right: solid 2px black;
}

.bricks .brick-block .series-final {
    border-bottom: solid 2px #E2E200;
}

.bricks .year-final {
    border-bottom: solid 2px #09A6DA;
}

.bricks table.brick-block {
    margin-right: 8px;
}