.bricks .legend {
    min-width: 300px;
}


.bricks .legend > div {
    display: inline-block;
}

.bricks .legend .result {
    background-color: transparent;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

.bricks .encoding {
    padding-right: 8px;
}

.bricks .legend-label {
    font-size: 11px;
}

.bricks .legend-all-in {
    padding-right: 4px;
    border-right: solid 2px #717171;
    border-radius: 2px;
}

.bricks .legend-series-final {
    border-bottom: solid 2px #E2E200;
    border-radius: 2px;
}

.bricks .legend-year-final {
    border-bottom: solid 2px #09A6DA;
    border-radius: 2px;
}