.bricks td, .bricks th, .bricks span {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #666666;
    margin: 0;
}

.bricks table {
    float: left;
}

.bricks .left td, .bricks .left th {
    padding-right: 8px;
    white-space: nowrap;
}

.bricks th {
    height: 18px;
}

.bricks td {
    height: 24px;
}

.bricks tr {
    height: 26px;
}

.bricks .wins, .bricks .losses, .bricks .percentage {
    text-align: right;
}

.bricks .name {
    text-align: left;
}

.bricks td.wins {
    color: #206925;
    font-weight: 500;
}

.bricks td.losses {
    color: #9E9E9E;
    font-weight: 500;
}

.bricks.grid-container {
    display: grid;
    grid-template-columns: 0 min-content min-content;
    grid-column-gap: 0;
    grid-row-gap: 8px;
    align-items: start;
}

.bricks .right {
    display: inline-flex;
}