.bricks .tooltip {
    width: 240px;
    padding: 12px;
    position: sticky;
    z-index: 1000;

    visibility: hidden;

    background-color: white;
    box-shadow: 0 0 1px gray;
}

.bricks .tooltip h3 {
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin: 0 0 2px 0;
}

.bricks .tooltip p {
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #9E9E9E;
    margin: 0;
}

.bricks .tooltip span {
    color: black;
    font-family: "Open Sans", sans-serif;
}