body {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #666666;
    width: 850px;
}

table {
    float: left;
}

.left td, th {
    padding-right: 8px;
}

th {
    height: 18px;
}

td {
    height: 24px;
}

.wins, .losses, .percentage {
    text-align: right;
}

.name {
    text-align: left;
}

td.wins {
    color: #206925;
    font-weight: 500;
}

td.losses {
    color: #9E9E9E;
    font-weight: 500;
}




.right td {
    width: 14px;
    padding-right: 0;
    padding-left: 0;
}

.result {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 2px;
    width: 14px;
    height:18px;
    background-color: #9E9E9E;
}

.result.win {
    background-color: #206925;
}

.all-in {
    border: solid 1px #717171;
}

.all-in.win {
    border: solid 1px black;
}

.series-final {
    border: solid 1px #FF8101;
}

.year-final {
    border: solid 1px #09A6DA;
}

.result:hover {
    box-shadow: 0 0 2px black;
}



.legend {
    margin-left: 248px;
}


.legend > div {
    display: inline-block;
}

.legend .result {
    background-color: transparent;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

.encoding {
    padding-right: 8px;
}

.legend-label {
    padding-left: 4px;
    font-size: 11px;
}
